/* PHASE 5: Cats */
.content-header {
  background-image: url(http://appacademy.github.io/css-friends/shared/img/cats.jpg);
  width: 900px;
  height: 200px;
  display: flex;
  background-size: cover;
}

.content-header h1{
  font-size: 36px;
  color: white;
  position: absolute;
  top: 180px;
  right: 450px;
}

.content-header input {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 180px;
  right: 125px;
  border: 1px solid black;
  font-weight: bold;
  /*align-items: flex-end;*/
}

.content-header input:hover {
  background-color: #eee; 
}
